// Theme Colors
$primary: #000;
$accent: #462444;
$secondary: #b3b8ab;
$error: #c03221;
$success: #157f1f;

// Functional Colors
$background: #f7f7fc;
$border: #767676;
$zoom-port-background: #fff;
$zoom-button: #efeff4;
$text-dark: #222230;
$text-light: #fff;
